/* Reset */
html{ 
    font-size: 62.5%;  
}
body{
    font: 1.6rem sans-serif; 
    margin: 0;  
}
h1,h2,h3,h4,p,ol,ul,figure,dd{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4{
    font-weight: normal;
}

:root{
    --color-primary: rgb(98, 170, 218);
    --color-secondary: #fff;
    --color-main: #d9d9dd9c;
}


body{
    background-image: url("../asset/img-background1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

footer{
    max-width: 60.0rem;
    margin: 3rem auto 2rem;
    background-color: var(--color-main);
    box-shadow: 0 0 2.0rem rgb(96, 170, 219);
    padding: 1rem;
}

.logos{
    width: 10.0rem;
    height: 10.0rem;
}
   

header h1 {
    text-align: center;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-right: 5rem;
    margin-bottom: 0.1rem;
}

header img{
    margin-top: 0.9rem;
    margin-left: 1.5rem;
    position: absolute;
    float: left;
    width: 4.4rem;
    height: 4.4rem;
    object-fit: cover;
}

header h1, section h2{
    line-height: 3.5rem;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-weight: 300;
    text-shadow: .1rem .1rem 0 var(--color-default-global);
}

section h2{
    text-align: left;
    padding-left: 1.0rem;
    margin-bottom: 2rem;
    top:0;
    position:sticky;
}

body{
    margin: 0;

}

main{
    margin: 0 15%;
}

main ul{
    display: grid;
    margin-bottom: 1.0rem;
    margin-top: 5.0rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 4;
    text-align: center;
}

main h2{
    box-shadow: 0 0 1.0rem rgb(96, 170, 219);

}

main ul li{
    display: block;
    width: 100%;
}

nav{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    margin-bottom: 50px;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease-out;
  }

.nav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.nav a.active {
    background-color: #04AA6D;
    color: white;
}

p{
    font-size: larger;
}



footer h2{
    text-align: center;
}

section{
    margin-top: 80px;
    margin-bottom: 50px;
}

section p :nth-child(4){
    text-align: center;
    
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.6rem;
}

.skill-box{
    padding: 1rem;
}

.exp-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.6rem;
}

.exp-box{
    padding: 1rem;
}

.study-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.6rem;
}

.study-box{
    padding: 1rem;
    
}

.loisirs-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.6rem;
}

.loisirs-box{
    padding: 1rem;
}


@media screen and (max-width: 40rem) {

    main, footer{
        width: auto;
        margin: 0;
    }

    section ul{
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    
    .skills-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .study-container{
        grid-template-columns: repeat(1, 1fr);
    }

    header{
        display: block;
        position: static;
        margin: 0 auto;
    }

    div{
        display: grid;
        column-gap: 20px;
    }

    nav ul{
        width: auto;
        margin: 0;
        display: block;
    }

    .nav a{
        float: none;
        color: #f2f2f2;
        text-align: left;
        display: block;
        width: 100%;
    }

    main section h2{
        margin: 0;
    }


    nav ul {
        display: flex;
    }

    nav li {
        flex: 1;
    }
}
@media screen and (orientation: landscape){
    nav ul{
        margin: 0 auto 2rem;
       
    }
    nav ul li{
        width: calc(100% / 5);
    }
    
}